<!-- Centrar el container al medio de la página de alguna manera -->
<section class="container-fluid p-0 d-flex justify-content-center align-content-center">
    
        <h1 class="text-center mt-3 bodiary-title">Bodiary</h1>

    
    <div class="row w-100 justify-content-center align-items-center">
        <mat-card class="col-sm-12 col-md-10 text-center card-mat pt-0">
            <mat-card-subtitle>Inicia sesión</mat-card-subtitle>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field class="formField mb-2" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" class="form-control" id="emailInput" formControlName="email" required matInput>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                        Introduce un email
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="formField mb-3" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" class="form-control" id="password" formControlName="password" required matInput>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                        Introduce una contraseña
                    </mat-error>
                </mat-form-field>
                
                
                <div class="mb-5 form-check">
                  <mat-checkbox formControlName="remember" color="primary" class="mr-3">

                      <label class="form-check-label">Recuérdame</label>
                  </mat-checkbox>
                </div>

                
                <div class="form-group d-flex justify-content-center">
                    <button type="button" mat-raised-button color="primary" routerLink="/register"class="m-1 loginButton"><span class="button-text">Registrarse</span></button>
    
                    <button type="submit" mat-stroked-button color="primary" class="m-1 loginButton" [disabled]="loginForm.invalid">
                        
                        <span class="button-text" *ngIf="loading == false">Entrar</span>
                        <span><app-loading diameter="34" *ngIf="loading"></app-loading></span>
                    </button>

                </div>
                
              </form>
        
        </mat-card>

    </div>

</section>