
 
  <mat-toolbar color="primary">
      <div class="title-menu">
        <button mat-icon-button class="menu-open-icon" id="menu-open-icon" *ngIf="sidenav.mode == 'over'" (click)="toggleSideNav()"  aria-label="icon-button with menu icon">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
            <span class="toolbar-title">Bodiary</span> 
        </div>
        
        
    </mat-toolbar>
    <mat-sidenav-container>
        
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="side">
            <!-- TODO: Pasar por una variable el nombre del usuario. -->
            <h4 class="name">{{username}}</h4>
        <!-- ---------------------------------------------------------- -->

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" id="menu-button" routerLink="training" routerLinkActive="is-active" (click)="toggleSideNav()">
                <span class="mat-button-wrapper">
                    <mat-icon class="menu-icon" >timeline</mat-icon>
                    <span>Entrenamiento</span>

                </span>
            </button>
            <button mat-button class="menu-button" routerLink="bodyWeight" routerLinkActive="is-active" (click)="toggleSideNav()">
                <span class="mat-button-wrapper">

                    <mat-icon class="menu-icon">person</mat-icon>
                    <span>Peso corporal</span>
                </span>
            </button>
            <button mat-button class="menu-button" routerLink="imc" routerLinkActive="is-active" (click)="toggleSideNav()">
                <span class="mat-button-wrapper">
                    <mat-icon class="menu-icon">lens_blur</mat-icon>
                    <span>IMC</span>
                    
                </span>
            </button>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" routerLink="faq" routerLinkActive="is-active" (click)="toggleSideNav()">
                <span class="mat-button-wrapper">
                    <mat-icon class="menu-icon">question_answer</mat-icon>
                    <span>FAQ</span>
                    
                </span>
            </button>
            <button mat-button class="menu-button logout-button"  (click)="logout()">
                <span class="mat-button-wrapper">
                    <mat-icon class="menu-icon">logout</mat-icon>
                    <span>Cerrar sesión</span>
                    
                </span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>