.header{
    background-color: #fdf7ec;
    padding:1.2%;
    border-bottom: solid 1px gray;
}
.header>div>div:nth-child(2){
    text-align:right;
    
}

.mat-button{
    padding: 0 10px;
}
/* Boton salir */
.header>div>div>button{
    margin-right:4%;
    font-size:13px;
    
}
.logout-icon{
    margin-top:5px;
    font-size: 18px;
}
.col-6:nth-child(2){
    align-self: center;
}

.spacer{
    flex: 1 1 auto;
}