<div class="container">
  <div class="row">
    <h2 class="container-title text-center mt-3">Diario de entrenamiento</h2>
  </div>
  <div class="row filter-row mt-4">
    <div class="col-10">
      <!-- <mat-form-field class="filter-select" appearance="fill" >
        <mat-label>Filtrar por:</mat-label>
        <mat-select [(ngModel)]="filterSelected">
          <mat-option [value]="">Todo</mat-option>
          <mat-option *ngFor="let exercise of trainingExercises" [value]="exercise.name">{{exercise.name}}</mat-option>
          
        </mat-select>
      </mat-form-field> -->
      <mat-form-field class="filter-select" appearance="fill" >
        <mat-label>Filtrar por:</mat-label>
        <mat-select [(ngModel)]="listFilter" (ngModelChange)="performFilter(listFilter)">
          <mat-option [value]="">Todo</mat-option>
          <mat-option *ngFor="let exercise of trainingExercises" [value]="exercise.name">{{exercise.name}}</mat-option>
          
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2 col-new mt-2">
      
      <button mat-stroked-button color="primary" class="add-button">
        <mat-icon>post_add</mat-icon>
      </button>
    </div>
  </div>

  <mat-spinner [diameter]="50" class="spinner mt-5 loading" color="primary" diameter="30" *ngIf="loading" >
  </mat-spinner>
 <p class="text-muted table-info-responsive w-100">Desliza hacia la derecha para ver más </p>
  <div class="table-responsive table-hover" *ngIf="loading == false">
    <table class="table" >
      <thead>
        <tr>
          <th class="col">Tipo</th>
          <th class="col">Peso</th>
          <th class="col">Series</th>
          <th class="col">Repeticiones</th>
          <th class="col">Fecha</th>

        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let workout of workoutDisplayTable">
          <td class="col">{{workout.name}}</td>
          <td class="col">{{workout.weight}}kg</td>
          <td class="col">{{workout.sets}}</td>
          <td class="col">{{workout.reps}}</td>
          <td class="col">{{workout.created_at | date:'dd/MM/YY'}}</td>

          
        </tr>
        
      </tbody>
    </table>
  </div>
  <!-- TODO: Hay que darle estilos al paginator, cambiar idioma de las letras y tal. -->
  <mat-paginator 
  [length]="workoutsLength"
  [pageSize]="5"        
  (page)="pageEvent = pagination($event)"        
  aria-label="Select page">       
  </mat-paginator>

</div>
