

/* 
.material-icons{
    color: #da0000;
} */


.mat-button-base:nth-child(1),
.mat-button-base:nth-child(2)
{
    width:100px;
}












@media (min-width: 1068px){

.detail-section{
    margin:0 auto;
    width:50% !important;
}
}