

  <section class="container text-center section-title pt-3 pb-3 ">
    <h2>Lista de usuarios</h2>
  </section>
  <section class="container container-table">
    <h6 class="info-table">Selecciona un usuario para ver los detalles</h6>
    <div class="row mat-elevation-z8 w-100">
    <app-loading *ngIf="loading"></app-loading>
    <table  mat-table *ngIf="loading == false" [dataSource]="dataSource" class="w-100">
    
      

        <ng-container matColumnDef="ID" >
          <th class="id" mat-header-cell *matHeaderCellDef> ID </th>
          <td class="id" routerLink="/admin/details/{{element.id}}" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
      
        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell routerLink="/admin/details/{{element.id}}" *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell routerLink="/admin/details/{{element.id}}" *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Activo">
          <th mat-header-cell *matHeaderCellDef> Activo </th>
          <td mat-cell routerLink="/admin/details/{{element.id}}" *matCellDef="let element"> {{element.isActive}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [pageSizeOptions]="[5]" 
      showFirstLastButtons>
      </mat-paginator>
  </div>
  
</section>
<app-footer-index></app-footer-index>