<div class="container">

  <div class="row">
    <h2 class="container-title text-center mt-4">Preguntas frequentes</h2>
  </div>

  <div class="row mt-4">
    <mat-accordion>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Qué puedo realizar yo con esta aplicación?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Bodiary te aporta un seguimiento de peso que tú levantas en tus entrenamientos, para así poder ver tus resultados cuando pasen unos meses y veas si has progresado o no. Por otra parte también puedes poner tu seguimiento de peso corporal tanto si estás ganando músculo como si tu intención es perder peso, en el seguimiento de tu meta, ¡Bodiary te ayuda!</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              ¿Bodiary va a recibir actualizaciones en un futuro?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>¡Por supuesto!</p>
          <p>Estamos en nuestra primera versión de la aplicación, por lo que todas las características que están ahora mismo van a ser revisadas continuamente por nuestros desarrolladores, mejorando las funcionalidades ya existentes y añadiendo nuevas. Y por supuesto se agregarán herramientas que sigan mejorando la forma en la que tengas un seguimiento de tus entrenamientos y tu salud en general.</p>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Muy bien todo lo que me cuentas, pero... ¿Es gratis?
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            <p>Bodiary es gratis y lo seguirá siendo en un futuro, incluso aunque se agreguen nuevas funcionalidades, puede que llegue el momento que haya una versión premium, pero las personas que hayan confiado en llevar su seguimiento de entrenamiento con Bodiary tendrán un 100% de descuento en la versión de pago, ¡Y de forma vitalicia!</p>
          </mat-expansion-panel>

      </mat-accordion>
  </div>
</div>
